In [1]:
from utils.data_acquisition import get_players

## Generating player list ranked by position

In [9]:
players = get_players()

In [10]:
positions = players['position'].unique()

In [24]:
players_ranked = players.copy() 
players_ranked['rank'] = None

for position in positions:
    rank = players_ranked[players_ranked['position'] == position].id.rank(method='min')
    rank = rank - 1
    players_ranked.iloc[rank.index,-1] = rank

columns_sorted = ["rank", "nickname", "id", "position"]
players_ranked = players_ranked[columns_sorted].drop_duplicates().sort_values('rank', ignore_index=True)

In [25]:
players_ranked.head(10)

  rank        nickname     id position
0  0.0         Rafinha  38144      lat
1  0.0  Renato Augusto  38398      mei
2  0.0   Thiago Heleno  38394      zag
3  0.0           Fábio  37656      gol
4  0.0     Vagner Love  38959      ata
5  0.0       Léo Condé  37457      tec
6  1.0            Nenê  38913      mei
7  1.0          Cássio  42234      gol
8  1.0     Felipe Melo  38545      zag
9  1.0         Marcelo  38402      lat